<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/comboStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container Profile Manager</title>
</head>

<body>

    <!-- Default View -->
    <div class="default-content"id="default-content-content">
        <h2>Profile Manager</h2>
        <div id="errorMsg"></div>
        <button id="switchProfile">Switch Profile</button>
        <select id="profileSwitchSelect"></select>

        <div id="spacer"></div>

        <input type="text" id="profileName" placeholder="Enter Profile Name">
        <button id="createProfile">Create New Profile</button>

        <div id="spacer"></div>

        <button id="deleteProfile">Delete Profile</button>
        <select id="profileDeleteSelect"></select>

        <button id="openHistory">Open History</button>
    </div>

    <!-- Create Profile View -->
    <div class="profile-card" id="create-profile-content" style="display:none;">
        <h3>New Profile</h3>

        <div class="title-section">
        </div>
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Profile Name">
        </div>
        <div class="color-group">
            <label>Color</label>
            <div class="colors">
                <span class="color blue"></span>
                <span class="color cyan"></span>
                <span class="color green"></span>
                <span class="color orange"></span>
                <span class="color red"></span>
                <span class="color pink"></span>
                <span class="color purple"></span>
            </div>
        </div>
        <div class="icon-group">
            <label>Icon</label>
            <div class="icons">
                <span class="icon">&#x2714;</span>
                <span class="icon">&#x1F310;</span>
                <span class="icon">&#x3C;&#x2F;&#x3E;</span>
                <span class="icon">&#x1F464;</span>
                <span class="icon">&#x1F3E0;</span>
                <span class="icon">&#x1F4AC;</span>
            </div>
        </div>
        <div class="icons-group">
        </div>
        <div class="actions">
            <button class="cancel">Cancel</button>
            <button class="ok">OK</button>
        </div>
    </div>

    <script type="module" src="../scripts/mainPopup/popup.js"></script>
    <script src="../scripts/background.js"></script>

</body>

</html>
