<!-- CREATE NEW PROFILE VIEW -->
<div class="profile-card" id="createProfilePageId">

    <div class="profileHeader"> 
        <!-- <button class="backButton" id="backButtonId">&lt;</button> -->
        <button class="backButton" id="backButtonId">
            <img id="goToMainView" src="../icons/generalIcons/back.png" alt="Back">
        </button>
        
        <h3>New Profile</h3>
    </div>

    <div class="profileName">
        <label for="name">Name</label>
        <input type="text" id="profileName" placeholder="Profile Name">
    </div>
    <div class="colorGroup" >
        <label for="profileColor">Profile Color:</label>
        <div class="colors" >
            <div class="colorWrapper" >
                <div class="colorBehind" ></div>
                <div class="color blue" tabindex="0" id="blue"></div>
            </div>
            <div class="colorWrapper">
                <div class="colorBehind"></div>
                <div class="color turquoise" tabindex="0" id="turquoise"></div>
            </div>
            <div class="colorWrapper">
                <div class="colorBehind"></div>
                <div class="color green" tabindex="0"id="green"></div>
            </div>
            <div class="colorWrapper">
                <div class="colorBehind"></div>
                <div class="color yellow" tabindex="0"id="yellow"></div>
            </div>
            <div class="colorWrapper">
                <div class="colorBehind"></div>
                <div class="color orange" tabindex="0"id="orange"></div>
            </div>
            <div class="colorWrapper">
                <div class="colorBehind"></div>
                <div class="color red" tabindex="0"id="red"></div>
            </div>
            <div class="colorWrapper">
                <div class="colorBehind"></div>
                <div class="color pink" tabindex="0"id="pink"></div>
            </div>
            <div class="colorWrapper">
                <div class="colorBehind"></div>
                <div class="color purple" tabindex="0"id="purple"></div>
            </div>
        </div>
    </div>

    <div class="iconGroup">
        <label for="profileIcon">Profile Icon:</label>
        <div class="icons">
            <i class="material-icons" tabindex="0">fingerprint</i>    
            <i class="material-icons" tabindex="0">work</i>          
            <i class="material-icons" tabindex="0">attach_money</i>   
            <i class="material-icons" tabindex="0">shopping_cart</i>  
            <i class="material-icons" tabindex="0">flight_takeoff</i> 
            <i class="material-icons" tabindex="0">card_giftcard</i>  
            <i class="material-icons" tabindex="0">restaurant</i>     
            <i class="material-symbols-outlined" tabindex="0">nutrition</i>
            <i class="material-icons" tabindex="0">pets</i>          
            <i class="material-symbols-outlined" tabindex="0">park</i>
            <i class="material-symbols-outlined" tabindex="0">eyeglasses</i>
            <i class="material-symbols-outlined" tabindex="0">fence</i>
        </div>
    </div>
    
    <div class="profileActions">
        <button class="cancel">Cancel</button>
        <button class="ok", id="createProfileOkButton">OK</button>
    </div>
</div>