<!-- HISTORY PAGE VIEW -->
<div class="historyPage" id="historyPageId">
    <div class="profileHeader"> 
        <button class="backButton" id="historyBackButtonId">
            <img id="goToMainView" src="../icons/generalIcons/back.png" alt="Back">
        </button>
        <h3>History</h3>
    </div>
    <button id="toggleOpenInProfile">Open in Profile</button>
    
    <div class="profileDropdown">
        <div class="dropdownContainer">
            <select id="profileSelect">
            <!-- <select id="profileSelect" placeholder="Select a Profile"> -->
                <option value="" disabled selected >Select a profile...</option>
                <!-- <option value="" disabled selected>Select your profile</option> -->
                <!-- More Dynamically Loaded -->
            </select>
            <img src="../icons/historyIcons/dropdown.png" alt="Dropdown" class="dropdownIcon">
        </div>
    </div>

    <div class="divider"></div>

    <div class="searchProfile">
        <div class="searchInputContainer">
            <img src="../icons/infoIcons/lens.png" alt="Search" class="searchIcon">
            <input type="text" id="searchHistory" placeholder="Search History">
        </div>
    </div>
   
    <div class="historyEntriesContainer" id="historyEntriesContainer"></div>

    <div class="historyDivider"></div>

</div>