<!-- INFORMATION PAGE VIEW -->
<div class="informationPage" id="informationPageId">
    <div class="profileHeader"> 
        <button class="backButton" id="infoViewBackButtonId">
            <img src="../icons/infoIcons/back.png" alt="Back">
        </button>
        <h3><span class="yellow">Information is Power!</span></h3>
    </div>

    <div class="headerDescriptionDiv">
        <p class="headerDescription"><span class="yellowFaded">Discover the full capabilities of your profile management add-on.</span></p>
    </div>

    <div class="informationSection">
        <h4>General Overview</h4>

        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/profileIcon.png" alt="Icon description">
            <h5>What is a Profile?</h5>
        </div>
        <p>A profile seamlessly fits into your Firefox’s session, separating cookies between profiles, allowing for creating various profiles to fit your different searches and by keeping your histories separate</p>

        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/historyIcon.png" alt="Another icon description">
            <h5>Why Seperate Histories?</h5>
        </div>
        <p>Firefox natively keeps track of all the profile’s searches, but does not differentiate between profiles. Our addon offers separation of histories, allowing you to have the histories of a certain profile nice and tidy! We suggest creating a new profile for every big project you embark on. You can also have specific profiles for specific styles.</p>
    </div>


    <div class="informationSection">
        <h4>Create New Profile</h4>

        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/profileIcon.png" alt="Icon description">
            <h5>Identifiers</h5>
        </div>
        <ul>
            <li>Profile Name <span class="italics">(unique)</span></li>
            <li>Profile Icon</li>
            <li>Profile Color</li>
        </ul>
        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/tips.png" alt="Icon description">
            <h5>Tips</h5>
        </div>
        <p>Every profile needs to have a unique name. You can customize your profile icon and color to your liking, make it fit your mood and work!</p>
    </div>


    <div class="informationSection">
        <h4>Manage Profiles</h4>

        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/deleteProfile.png" alt="Icon description">
            <h5>Delete a Profile</h5>
        </div>
        <p>Deletes a profile as well as the seperated history we have kept for you</p>

        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/deleteHistory.png" alt="Another icon description">
            <h5>Clear Profile History</h5>
        </div>
        <p>Clears out the seperate history for the profile. It does not clean the history from Firefox's native history.</p>

        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/bin.png" alt="Another icon description">
            <h5>Delete all Profiles</h5>
        </div>
        <p>Deletes all profiles and histories! Be careful when using.</p>
    </div>


    <div class="informationSection">
        <h4>Using your profiles</h4>

        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/newTab.png" alt="Icon description">
            <h5>"Always Open in..."</h5>
        </div>
        <p>Go to the tab you want, open the addon menu and click "Always Open in...". Select the profile you want and then this site will always open in that container.</p>

        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/reloadTab.png" alt="Another icon description">
            <h5>"Reopen in..."</h5>
        </div>
        <p>Nothing permanent, just reopen tab in a certain profile.</p>

        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/sort.png" alt="Another icon description">
            <h5>"Sort Tabs by Profile"</h5>
        </div>
        <p>Helps you organize your session!</p>

        <div class="infoItem">
            <img class="infoIcon" src="../icons/infoIcons/history.png" alt="Another icon description">
            <h5>View History</h5>
        </div>
        <p>Open our custom history page, allowing you to see the seperate history of every one of your profiles.</p>
    </div>


    <div class="informationSection">
        <h4>Use Case</h4>
        <ul>
            <li>The main goal of this addon is to enable you to embark on various information-seeking journeys. By creating a profile for your project, upon visiting the add-on's history, you will be able to see the searches you made for the current subject, essentially bifurcating between the current subject and your personal searches or other endeavors</li>
            <li>It can therefore prove useful for citing pages and articles that contribute to the research of some of your work!</li>
            <li>As will become evident below, our profiles utilize Firefox’s native containers, adding additional security and individuality to your searches</li>
        </ul>
    </div>

    <div class="informationSection">
        <h4>Additional Info</h4>
        <ul>
            <li>Profiles are based on Mozilla Firefox's native containers. The containers provide separation of cookies, making the cross site cookie sharing more complex, thus providing additional privacy to your sessions</li>
            <li>Our profiles naturally keep that functionality, as each profile is registered as a container, but also logs your history separately</li>
            <li>Our history works in conjunction with Firefox’s native history and does not alter it. However even if all your data will be stored on the Firefox history as is, we provide you with a partition of that history according to the profile you searched on</li>
        </ul>
    </div>


</div>