<!-- CONTAINERS LIST VIEW -->
<div class="containersListPage" id="containersListPageId">
    <div class="profileHeader"> 
        <button class="backButton" id="containersListeBackButtonId">
            <img id="goToMainView" src="../icons/generalIcons/back.png" alt="Back">
        </button>
        <h3>Select Profile</h3>
    </div>

    <div class="searchProfile">
        <label for="name"><strong>Search Profile</strong></label>
        <input type="text" id="containersListViewSearchId" placeholder="Profile Name">
    </div>

    <div class="containerList" id="containersListViewId"></div>
</div>
