<!-- MANAGE PROFILES VIEW -->
<div class="manageProfiles" id="manageProfilesPageId">

    <div class="profileHeader"> 
        <button class="backButton" id="manageBackButtonId">
            <img id="goToMainView" src="../icons/generalIcons/back.png" alt="Back">
        </button>

        <h3>Manage Profiles</h3>
    </div>

    <div class="manageCreateNewProfile" id="manageCreateNewProfileId">
        <div class="manageCreateButtonWhole">
            <img class="manageNewProfileIcon" src="../icons/generalIcons/add.png">
            <span><strong>New Profile</strong></span>
        </div>
    </div>

    <div class="searchProfile" >
        <label for="name"><strong>Search Profile</strong></label>
        <input type="text" id="manageProfilesSearchId" placeholder="Profile Name">
    </div>
    
    <div class="manageContainerList" id="manageContainerListId"></div>

    <button id="deleteAllProfiles">Delete All Profiles</button>        
</div>
