<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/popupStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container Profile Manager</title>
</head>

<body>
    <h2>Profile Manager</h2>
    <div id="errorMsg"></div> <!-- Error message div -->
    <button id="switchProfile">Switch Profile</button>
    <select id="profileSwitchSelect"></select>

    <div id="spacer"></div>

    <input type="text" id="profileName" placeholder="Enter Profile Name">
    <button id="createProfile">Create New Profile</button>

    
    <div id="spacer"></div>

    <button id="deleteProfile">Delete Profile</button>
    <select id="profileDeleteSelect"></select>

    <button id="openHistory">Open History</button>

   
    <script type="module" src="../scripts/mainPopup/popup.js"></script>
    <script src="../scripts/background.js"></script>

</body>

</html>
