<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/popupStyles.css">
    <link rel="stylesheet" href="../styles/profileStyles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container Profile Manager</title>
</head>

<body>

    <div class="popupMain"id="popupMainId" style="display:block;">

        <h3>History under Control</h3>
        
        <!-- Actions Icons Grid-->
        <div class="actions">
            <div class="row">
                <div class="column">
                    <img id="createProfile" src="../images/profile.png" alt="Icon 1">
                    <div class="icon-text">New Profile</div>
                </div>
                <div class="column">
                    <img src="../images/gear.png" alt="Icon 2">
                    <div class="icon-text">Settings</div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <img src="../images/history.png" alt="Icon 3">
                    <div class="icon-text">View History</div>
                </div>
                <div class="column">
                    <img src="../images/info.png" alt="Icon 4">
                    <div class="icon-text">More Info</div>
                </div>
            </div>
        </div>
        <div id="spacerMainId"></div>
        
        <!-- Containers select options and search -->
        <span id="containersTitleId">Containers</span>
        <input type="text" id="containerSearchId" placeholder="Search for containers...">

        <!-- Containers List -->
        <div class="containerList" id="containerListId">
            <div>
                <img src="../images/tree.png" alt="Icon 1">
                <span>Container 1</span>
            </div>
            <div>
                <img src="../images/suitcase.png" alt="Icon 2">
                <span>Container 2</span>
            </div>
            <div>
                <img src="../images/dot.png" alt="Icon 3">
                <span>Container 3</span>
            </div>
            <div>
                <img src="../images/tree.png" alt="Icon 1">
                <span>Container 1</span>
            </div>
            <div>
                <img src="../images/suitcase.png" alt="Icon 2">
                <span>Container 2</span>
            </div>
            <div>
                <img src="../images/dot.png" alt="Icon 3">
                <span>Container 3</span>
            </div>
        </div>

        <button id="manageProfiles">Manage Profiles</button>
    </div>




    <div class="profile-card" id="createProfilePageId" style="display:none;">
        <h3>New Profile</h3>

    
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Profile Name">
        </div>
        <div class="color-group">
            <label>Color</label>
            <div class="colors">
                <span class="color blue"></span>
                <span class="color cyan"></span>
                <span class="color green"></span>
                <span class="color orange"></span>
                <span class="color red"></span>
                <span class="color pink"></span>
                <span class="color purple"></span>
            </div>
        </div>
        <div class="icon-group">
            <label>Icon</label>
            <div class="icons">
                <!-- Replace these with your actual icons -->
                <span class="icon">&#x2714;</span>
                <span class="icon">&#x1F310;</span>
                <span class="icon">&#x3C;&#x2F;&#x3E;</span>
                <span class="icon">&#x1F464;</span>
                <span class="icon">&#x1F3E0;</span>
                <span class="icon">&#x1F4AC;</span>
            </div>
        </div>
        <div class="icons-group">
        </div>
        <div class="profileActions">
            <button class="cancel">Cancel</button>
            <button class="ok">OK</button>
        </div>
    </div>

   
    <script type="module" src="../scripts/mainPopup/popup.js"></script>
    <script src="../scripts/background.js"></script>

</body>

</html>
