<!-- ============ Notes ============ -->
<!-- popupMain -->
<div class="containerList" id="containerListId">
    <!-- containerDiv -->
    <div >
        <!-- 
            has attribute: 
                data-key 
        -->
        <div class="icon-wrapper">
            <!-- iconElement -->
            <i class="material-icons" tabindex="0">fingerprint</i>
        </div>

        <span class="containerName">Profile Name</span>

    </div>

</div> 

<div class="manageContainerList" id="containerListId">
    <div >
        <div class="manageActionIcon">
            <img id="profiledemo" src="../icons/manageIcons/avatar.png" alt="Icon 4">
        </div>

        <span class="containerName">Profile Name</span>
        <div class="actionIcons">
            <div class="manageActionIcon">
                <img id="manageCustomizeIcon" src="../icons/manageIcons/customize.png" alt="Icon 4">
                <div class="icon-text">Customize Profile Actions</div>
            </div>
            <div class="manageActionIcon">
                <img id="manageClearIcon" src="../icons/manageIcons/clear.png" alt="Icon 4">
                <div class="icon-text">Clear Browsing History</div>
            </div>
            <div class="manageActionIcon">
                <img id="manageTrashIcon" src="../icons/manageIcons/trash.png" alt="Icon 4">
                <div class="icon-text">Delete Profile</div>
            </div>
        </div>
    </div>

    
</div> 