/* Specify styles for elements with the class profile-card */
:root {
    /* Dimensions Variables */
    --container-width: 320px; /* Control the width here */
    --leftRightPadding: 15px;

    /* Primary Colors Variables */
    --primaryBackgroundColor: #42404C;
    --primaryButtonColor: #2b2a33ba;
    --dividerColor: 1px solid #ffffff34;
    --outlineColor: 1px solid #ffffff8b;

    /* Primary Text Color Variables */
    --textColorPrimary: #ffffff;
    --textColorSecondary: #fff;

    /* Container List Variables */
    --iconDimensions: 20px;
    --iconToTextMargin: 15px;
    --containerTextFontSize: 16px;
    --containerListItemsTopMargin: 10px;
    --containerListItemsBottomMargin: 20px;
    --totalListElementHeight: calc(var(--iconDimensions) + var(--containerListItemsTopMargin) + var(--containerListItemsBottomMargin));
}

/* ---------------------- General Styles ---------------------- */
.profile-card {
    background-color: var(--primaryBackgroundColor);
    border-radius: 10px;
    width: var(--container-width);
    color: white;
}

/* ---------- */
.profile-card .profileHeader {
    display: flex;
    justify-content: space-between; /* This will push h3 to the center and the back button to the left */
    align-items: center;
    position: relative; /* Enable relative positioning for children absolute positioning */
    border-bottom: var(--dividerColor);
}

.profile-card .backButton {
    background: none;
    border: none;
    color: inherit;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: -40px; /* Adjust as needed to position the button correctly */
    top: 50%;
    transform: translateY(-50%); /* Vertically center the button */
}

.profile-card .backButton:hover {
    text-decoration: underline;
}

.profile-card h3 {
    text-align: center;
    margin: 10px 0 20px; 
    padding: 5px 0;
    flex: 1; /* Allows the h3 to take the maximum available width, ensuring it remains centered */
}



/* ---------------------- Profile Name Styles ---------------------- */
.profile-card .profileName{
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: var(--leftRightPadding);
    margin-right: var(--leftRightPadding);
}
.profile-card label {
    display: block;
    margin-bottom: 10px;
}
.profile-card input[type="text"] {
    width: calc(var(--container-width) - 2*var(--leftRightPadding) - 24px);
    border-radius: 5px;
    background-color: var(--primaryButtonColor);
    color: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
}


/* ---------------------- Colors & Icons Styles ---------------------- */
.profile-card .colorGroup,
.profile-card .iconGroup{
    margin-bottom: 20px;
    margin-left: var(--leftRightPadding);
    margin-right: var(--leftRightPadding);
}
.profile-card .colors,
.profile-card .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-card .color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
/* -----> Setup Color Dots <------ */
.profile-card .color.blue { background-color: #3498db; }
.profile-card .color.cyan { background-color: #1abc9c; }
.profile-card .color.green { background-color: #2ecc71; }
.profile-card .color.orange { background-color: #e67e22; }
.profile-card .color.red { background-color: #e74c3c; }
.profile-card .color.pink { background-color: #e84393; }
.profile-card .color.purple { background-color: #9b59b6; }

/* -----> Icons Setup <----- */
.profile-card .iconsGroup {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}
.profile-card #Layer_1 {
    width: 25px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    border-radius: 50%; /* To make it circular, similar to the previous icons */
    cursor: pointer;
    margin-right: 10px; /* Space between each icon, adjust as needed */
    /* color: #fb4f05; */
    /* filter: invert(33%) sepia(100%) saturate(345%) hue-rotate(198deg) brightness(100%) contrast(100%); */
    --svg-color: #ecebeb; /* This will set the color of the SVG */    
    --svg-color-2: var(--svg-color); /* This will set the color of the SVG */    

}

/* #Layer {
    fill: #fb4f05;
} */

.spacer{
    margin-bottom: 40px;
   
}


/* ---------------------- Profile Actions ---------------------- */
.profile-card .profileActions {
    display: flex;
    justify-content: space-between;
    margin-left: var(--leftRightPadding);
    margin-right: var(--leftRightPadding);
}
.profile-card button {
    padding: 10px 50px; 
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 135px;
    text-align: center;
}
.profile-card button.cancel {
    background-color: var(--primaryButtonColor);
    color: #fff;
}
.profile-card button.ok {
    background-color: #2ecc71;
}



/* ============= */
.profile-card #errorMsg{
    color:#e74c3c;
}


