:root {
    /* Dimensions Variables */
    --container-width: 320px; 
    --leftRightPadding: 15px;

    /* Primary Colors Variables */
    --primaryBackgroundColor: #42404C;
    --primaryButtonColor: #2b2a33ba;
    --dividerColor: 1px solid #ffffff34;
    --outlineColor: 1px solid #ffffff8b;

    /* Primary Text Color Variables */
    --textColorPrimary: #ffffff;
    --textColorSecondary: #fff;

    /* Container List Variables */
    --iconDimensions: 20px;
    --iconToTextMargin: 15px;
    --containerTextFontSize: 16px;
    --containerListItemsTopMargin: 10px;
    --containerListItemsBottomMargin: 20px;
    --totalListElementHeight: calc(var(--iconDimensions) + var(--containerListItemsTopMargin) + var(--containerListItemsBottomMargin));

    --colorDotSize: 16px;
    --iconSize: 18px;
    --borderOutlineColor: 1px solid #74f3ed;
}

/* ---------------------- General Styles ---------------------- */
.profile-card {
    background-color: var(--primaryBackgroundColor);
    border-radius: 10px;
    width: var(--container-width);
    color: white;
}
.profile-card .profileHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative; 
    border-bottom: var(--dividerColor);
}
.profile-card .backButton {
    background: none;
    border: none;
    color: inherit;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: -40px; 
    top: 50%;
    transform: translateY(-50%);
}
.profile-card .backButton:hover {
    text-decoration: underline;
}
.profile-card h3 {
    text-align: center;
    margin: 10px 0 20px; 
    padding: 5px 0;
    flex: 1; 
}


/* ---------------------- Profile Name Styles ---------------------- */
.profile-card .profileName{
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: var(--leftRightPadding);
    margin-right: var(--leftRightPadding);
}
.profile-card label {
    display: block;
    margin-bottom: 10px;
}
.profile-card input[type="text"] {
    width: calc(var(--container-width) - 2*var(--leftRightPadding) - 24px);
    border-radius: 5px;
    background-color: var(--primaryButtonColor);
    color: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
}
.profile-card input[type="text"]:focus {
    outline: none;
    border: var(--borderOutlineColor);
}


/* ---------------------- Color Dots Styles ---------------------- */
.profile-card .colorGroup {
    margin-bottom: 30px;
    margin-left: var(--leftRightPadding);
    margin-right: var(--leftRightPadding);
}
.profile-card .colors {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;  
    align-items: center;
}
.profile-card .colorWrapper {
    margin: 0;
    display: inline-block;
    position: relative;
}
.profile-card .color {
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
    width: var(--colorDotSize); 
    height: var(--colorDotSize);
    cursor: pointer;
    z-index: 1;
}
.profile-card .colorBehind {
    position: absolute;
    border: 1.5px solid transparent;
    background-color: transparent;
    width: calc(var(--colorDotSize) + 6px);
    height: calc(var(--colorDotSize) + 6px);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.profile-card .colorBehind.selected {
    background-color: #28272e;
}

.profile-card .color.blue { background-color: #3498db; }
.profile-card .color.turquoise { background-color: #40E0D0; }
.profile-card .color.green { background-color: #2ecc71; }
.profile-card .color.yellow { background-color: #f1c40f; }
.profile-card .color.orange { background-color: #e67e22; }
.profile-card .color.red { background-color: #e74c3c; }
.profile-card .color.pink { background-color: #e84393; }
.profile-card .color.purple { background-color: #9b59b6; }



/* ---------------------- Icon Styles ---------------------- */
.profile-card .iconGroup {
    margin-bottom: 30px;
    margin-left: var(--leftRightPadding);
    margin-right: var(--leftRightPadding);
}
.profile-card .icons { 
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; 
    cursor: pointer;

    justify-items: center;
    align-items: center;
    
}
.profile-card .material-icons, 
.profile-card .material-symbols-outlined {
    padding: 1.5px;
    border-radius: 50%;
    /* padding: 0; */
    margin: 0;
    font-size: var(--iconSize);

    border: 1.5px solid transparent; 
    background-color: transparent;
    border-radius: 50%;

    padding: 3px;
    box-sizing: border-box;

    
}

.material-icons.selected, .material-symbols-outlined.selected {
    background-color: #28272e;
}


/* ---------------------- Profile Actions ---------------------- */
.profile-card .profileActions {
    display: flex;
    justify-content: space-between;
    margin-left: var(--leftRightPadding);
    margin-right: var(--leftRightPadding);
}
.profile-card button {
    padding: 10px 50px; 
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 135px;
    text-align: center;
}
.profile-card button.cancel {
    background-color: var(--primaryButtonColor);
    color: #fff;
}
.profile-card button.ok {
    background-color: #2ecc71;
}


/* ---------------------- Error Message ---------------------- */
.profile-card #errorMsg{
    color:#e74c3c;
}


