/* Specify styles for elements with the class profile-card */
:root {
    /* Dimensions Variables */
    --container-width: 320px; /* Control the width here */
    --leftRightPadding: 15px;

    /* Primary Colors Variables */
    --primaryBackgroundColor: #42404C;
    --primaryButtonColor: #2b2a33ba;
    --dividerColor: 1px solid #ffffff34;
    --outlineColor: 1px solid #ffffff8b;

    /* Primary Text Color Variables */
    --textColorPrimary: #ffffff;
    --textColorSecondary: #fff;

    /* Container List Variables */
    --iconDimensions: 20px;
    --iconToTextMargin: 15px;
    --containerTextFontSize: 16px;
    --containerListItemsTopMargin: 10px;
    --containerListItemsBottomMargin: 20px;
    --totalListElementHeight: calc(var(--iconDimensions) + var(--containerListItemsTopMargin) + var(--containerListItemsBottomMargin));

    /* Create Profile Page Styles */


}


.profile-card {
    background-color: var(--primaryBackgroundColor);
    /* padding: 20px; */
    border-radius: 10px;
    width: var(--container-width);
    color: white;
}



.profile-card .icons-group {
    /* Styles for .icons-group inside .profile-card */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.profile-card h3 {
    /* Styles for h3 inside .profile-card */
    text-align: center;
    margin: 10px 0 20px; /* Adjust margin values as needed */
    padding: 5px 0;

    border-bottom: var(--dividerColor);
}


.profile-card .input-group{
    /* Styles for .input-group, .color-group, and .icon-group inside .profile-card */
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: var(--leftRightPadding);
    margin-right: var(--leftRightPadding);
}

.profile-card .color-group,
.profile-card .icon-group {
    /* Styles for .input-group, .color-group, and .icon-group inside .profile-card */
    margin-bottom: 20px;
    margin-left: var(--leftRightPadding);
    margin-right: var(--leftRightPadding);
}

.profile-card label {
    display: block;
    margin-bottom: 10px;
}

.profile-card input[type="text"] {
    /* Styles for input[type="text"] inside .profile-card */
    width: calc(var(--container-width) - 2*var(--leftRightPadding) - 24px);
    /* width: 70%; */
    border-radius: 5px;
    background-color: var(--primaryButtonColor);
    color: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
}

.profile-card .colors,
.profile-card .icons {
    /* Styles for .colors and .icons inside .profile-card */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-card .color,
.profile-card .icon {
    /* Styles for .color and .icon inside .profile-card */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-card .color.blue { background-color: #3498db; }
.profile-card .color.cyan { background-color: #1abc9c; }
.profile-card .color.green { background-color: #2ecc71; }
.profile-card .color.orange { background-color: #e67e22; }
.profile-card .color.red { background-color: #e74c3c; }
.profile-card .color.pink { background-color: #e84393; }
.profile-card .color.purple { background-color: #9b59b6; }

.profile-card .icons .icon {
    /* Styles for .icon inside .icons */
    background-color: #555;
    text-align: center;
    line-height: 25px;
}

.profile-card .profileActions {
    /* Styles for .actions inside .profile-card */
    display: flex;
    justify-content: space-between;
    margin-left: var(--leftRightPadding);
    margin-right: var(--leftRightPadding);
}

.profile-card button {
    /* Styles for button inside .profile-card */
    padding: 10px 50px;
    
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 135px;
    text-align: center;
}

.profile-card button.cancel {
    /* Styles for button.cancel inside .profile-card */
    background-color: var(--primaryButtonColor);
    color: #fff;
}

.profile-card button.ok {
    /* Styles for button.ok inside .profile-card */
    background-color: #2ecc71;
}
